<html>
<style>
  body {
  background: #555;
}

.form-group ,.form-check{
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}
</style>
<body>
<center><h1>EHR Prediction Input</h1></center>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<center>
<form method="post" enctype="multipart/form-data" action="predictMPG">

 <div class="col-md-4 col-sm-4"><label for="fname">Temperature_Change:</label>
 </div> <input name="cylinderVal" type="text" value=''><br>
 <div class="col-md-4 col-sm-4"><label for="lname">Temperature_Max:</label> </div>
 <input type="text" id="lname" name="dispVal" value=''><br>
 <div class="col-md-4 col-sm-4"><label for="fname">BMI_Mean:</label> </div>
 <input type="text" id="fname" name="hrsPwrVal" value=''><br>
 <div class="col-md-4 col-sm-4"><label for="lname">Height_Change:</label>
 </div> <input type="text" id="lname" name="weightVal" value=''><br>
 <div class="col-md-4 col-sm-4"><label for="fname">RespiratoryRate_Change:</label>
 </div>  <input type="text" id="fname" name="accVal" value=''><br>
 <div class="col-md-4 col-sm-4"><label for="lname">RespiratoryRate_Min:</label>
 </div> <input type="text" id="lname" name="modelVal" value='' ><br>
 <div class="col-md-4 col-sm-4"><label for="lname">Weight_Change:</label>
 </div> <input type="text" id="lname" name="originVal" value=''><br>
 <br>
 <input type="submit" class="btn btn-primary" value="Submit" ></div>
</form></center>
</body>
</html>