/patient_train_data.csv
/patient_test_data.csv
/diagnosis_train_data.csv
/diagnosis_test_data.csv
/medication_train_data.csv
/medication_test_data.csv
/phy_sp_train_data.csv
/phy_sp_test_data.csv
/transcript_train_data.csv
/transcript_test_data.csv
